* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.clear{
	clear:both;
}

/* 왼쪽 탭 */
#left {
    float: left;
    width: 215px;
    margin-top: 60px;
    padding-left: 30px;
}

#left .secu {
    list-style-type: none;
    padding: 0;
    margin: 0;   
}

#left #title {
    padding: 12px;
    background-color: #fccb44fa;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

#left .secu li{
    padding: 7px 0 7px 30px;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;  
}

#left .secu li a {
    text-decoration: none;
    color: black;
}

#left .secu .security {
    list-style-type: none;
    padding-left: 10px;
}

#left .secu .security li {
    border: 0;
    text-align: left;
    padding: 5px 0 0 0;
}


.free { 
  width: 1500px;
  height: auto;
  margin: auto;    
}
#board-list{
  margin-top:60px;
}
.container {
	 width: 1300px;
	margin: 0 auto;
}
.board-table {
  border-collapse: collapse;
  position: relative;
  font-size: 13px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
/* 주요공지태그 */
.board-table .gonggi_tag1{
  width: 70px;
  height: 20px;
  padding-top: 3px;
  margin: 0 auto;
  background-color: #f79400b7;
  color: #fff;
  font-weight: bold;
}
.board-table .gonggi_tag{
  width: 70px;
  height: 20px;
  padding-top: 3px;
  margin: 0 auto;
  border: solid 2px #f79400b7;
  font-weight: bold;
}

.board-table a {
  color: #333;
  display: inline-block;
  font-weight:normal;
  /* word-break: break-all; */
  /* vertical-align: middle; */
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table .th-title {
  text-align: center;
  padding-left: 27px;
}
.board-table .th-num {
  width: 100px;
  text-align: center;
}
.board-table .th-date {
  width: 200px;
  text-align: center;
}
.board-table th, .board-table td {
  padding: 14px 0;
}
.board-table td {
  border-top: 1px solid #ff80ff;
  text-align: center;
}
.board-table th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}
.board-table tbody th p{
  display: none;
}

.search-wrap{
  margin: 20px 0 0 800px;
}
.btn-dark {
  margin: 20px 0;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  background: #805927;
  border: 0px;
  color: #fff;
  width: 70px;
  height: 20px;
}
.btn-dark:hover, .btn-dark:focus {
  background: #422300;
  border-color: #373737;
  color: #fff;
}

.Notice_container {
    width: 1100px;
    margin: 20px auto;
  }
.Notice_title{
  font-size: 35px;
  font-weight: bold;
  border-bottom: solid 2px #333;
  margin-top: 20px;
  padding: 10px 0 ;
}
.Notice_date{
  padding: 10px;
  float: right;
}
.Notice_Content{
  padding: 10px;
  font-size: 20px;
  line-height: 35px;
}
.Notice_listback_btn {
  background: #805927;
  width: 100px;
  height: 40px;
  margin-left: 1000px;
  margin-top: 20px;
  border: 0px;
}
.Notice_listback_btn a{
color: rgb(255, 255, 255)
}
.Notice_listback_btn:hover, .Notice_listback_btn:focus {
  background: #422300;
  border-color: #373737;
  color: #fff;
}
.pagination li{
  display: inline-block;
  }
  .pagination li a{
    color: #333;
  }
.btn { 
  border: 0; 
  border-radius: 0; /*윤곽 0*/
  padding: 5px 10px; 
  margin: 20px 0px;
  float: right;
}
#footer{
	height: 100px;
}







