@font-face {
    src : url("../font/SB\ 어그로\ L.ttf "); 
    font-family: "어그로" 
  }
h1 {
    display: none;
}
* {
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.clear {
	clear: both;
}
/* 중간 틀 */
.free {
    /* border: solid 1px black; */
    width: 1500px;
    height: 800px;
    margin: auto;
    padding: 40px 0 0 150px;  
}

/* 왼쪽 탭 */
#left {
    float: left;
    width: 215px;
    margin-top: 60px;
    padding-left: 30px;
}

#left .secu {
    list-style-type: none;
    padding: 0;
    margin: 0;   
}

#left #title {
    padding: 12px;
    background-color: #fccb44fa;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

#left .secu li{
    padding: 7px 0 7px 30px;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;  
}

#left .secu li a {
    text-decoration: none;
    color: black;
}

#left .secu .security {
    list-style-type: none;
    padding-left: 10px;
}

#left .secu .security li {
    border: 0;
    text-align: left;
    padding: 5px 0 0 0;
}

.search-window { /*상단*/
    margin-top: -1px;
    margin-left: -4000px;
    width: 8500px;
    padding: 15px 0;
    background-color: hsl(36, 92%, 49%);
    height: 158px;
  }

  .Notice h2{
    margin-top: 67px;   
    float: left;
    color: #ffffff; 
    width: 1250px ;   
    font-size: 40px;
    padding-left: 30px;
    margin-left: -40px;
    border-bottom: solid 5px #ffffff;
    font-family: '어그로';
    }

.color1 {
    border: 1px solid #717171;
    width: 1200px;
    height: 157px;
    margin: auto;
}
    
 #right {    
 float: left;
 margin: 10px 0 0 70px;    
 width: 1000px;
}
   #board-listq {
	margin-top: 0px;
}

.container {
	 width: 1300px;
	margin: 0 auto;
}

.board-tableq {
	border-collapse: collapse;
	position: relative;
	font-size: 13px;
	width: 70%;
} 
.board-tableq a {
	color: #333;
	display: inline-block;
	font-weight: normal;
	/* word-break: break-all; */
	/* vertical-align: middle; */
}

.board-tableq a:hover {
	text-decoration: underline;
}

.board-tableq .th-title {
	text-align: center;
	padding-left: 27px;
}

.board-tableq .th-num {
	width: 100px;
	text-align: center;
}

.board-tableq .th-date {
	width: 200px;
	text-align: center;
}

.board-tableq th, .board-tableq td {
	padding: 14px 0;
}

.board-tableq td {
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

.board-tableq th {
	padding-left: 28px;
	padding-right: 14px;
	border-top: 1px solid #e7e7e7;
	text-align: left;
}

.board-tableq tbody th p {
	display: none;
} 
/*페이징_하단*/
.pagination li {
	display: inline-block;
}

.pagination li a {
	color: #333;
}
#buttonsq .submit {
	margin: 35px 350px 0 0;
	display: inline-block;
	
	padding: 0 5px;
	text-align: center;
	vertical-align: top;
	box-sizing: border-box;
	cursor: pointer;
	background: hsl(36, 92%, 49%);
	color: #fff;
	font-weight: bold;
	width: 130px;	
	line-height: 53px;
	font-size: 15px;
	border: none;
	border-radius: 10px;
	outline-color: transparent;
	outline-style: solid;
	box-shadow: 0 0 0 2px #d16c1a;
}
    
    /* 중앙 
.free .area {
    margin: auto;
}
table {
    padding-left: 100px;
}
.free .area h3 {
    width: 500px;
    margin: auto;
    padding: 0 300px 10px 0;
}
.free .area .mu th{
    text-align: left;
    width: 100px;
    height: 40px;
}
.free .area .counter td{
    width: 100px;
    height: 40px; 
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;    
}

.free .area .counter a {
    text-decoration: none;
    color: black;
    margin: 0 0 0 5px;
}

.tit{
    height: 50px;
}*/
